* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century;
}

body {
  background-image: linear-gradient(rgba(18, 106, 156, 0.349), #ce4355), url("1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
}

/* Navbar */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 60px;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}

.logo {
  font-size: 28px;
  color: #c2560e;
  font-weight: bold;
  flex: 1;
}

.menu {
  flex: 2;
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #12406a;
  padding: 8px 20px;
  font-size: 16px;
  transition: 0.3s;
}

.menu ul li a:hover,
.menu ul li a.active {
  border: solid #12406a;
  background-color: #fff;
  color: #12406a;
  border-radius: 5px;
}

.profile-icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  color: #12406a;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-icon-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-icon:hover {
  transform: scale(1.2);
  color: #c2560e;
}

/* About Content */
.about-content {
  max-width: 800px;
  margin: 100px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  text-align: center;
}

.about-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px #12406a;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #f2f2f2;
}
